body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
}

.announcement-header {
  width: 100%;
  height: 150px;
}

.description, .site-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  width: 50%;
}

.site-title {
  font-weight: bold;
}

a.site-title.active {
  border-bottom: 2px solid white;
}

p.description-link {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  width: 50%;
  text-align: left;
  text-decoration: underline;
}

.active {
  border-bottom: 2px solid black;
}


ul {
  list-style: none;
  /* float: left; */
  /* text-align: right; */
}

a {color:black;}         /* Unvisited link  */
a:visited {color:black;} /* Visited link    */
a:hover {color:black;}   /* Mouse over link */
a:active {color:black;}  /* Selected link   */

a, li {
  text-decoration: none;
  text-align: center;
  display: inline;
}

li {
  cursor: pointer;
}

.nav-menu-item {
  width: 15%;
  float: left;
  color: black;
}

.about-page-container-wrapper {
  width: 40%;
}

.contact-page-container-wrapper {
  width: 40%;
}

input {
  width: 100%;
  height: 30px;
}

textarea {
  width: 100%;
  height: 110px;
}

.submit-button {
  width: 110px;
  height: 60px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.submit-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.follow {
  padding: 70px 0;
}

.error {
  border: 1px solid red;
}

.arrow-button {
  width: 200px;
}

.arrow-button-text {
  text-align: right;
  font-size: 32px;
}

/* .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
} */
